/* created by Jisu */
.MenuScreen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height : 90vh;
}

.MenuButtonGuide {
    font-size: 12px;
    color : #6D6868;
    text-align: center;
    margin-bottom: 1%;
}
.MenuButtons {
    display : flex;
    flex-direction: column;
}

.MenuButtonBox {
    width : 288px;
    height : 130px;
    margin-bottom : 10%;
    display: flex;
    justify-content: center;
}

.introduction {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.theGlobalLogo{
    width : 100%;

}
.introductionTitle{
    font-size: 27px;
    font-weight: 800;
    color : #052B48;
    text-align: center;
    line-height: 130%;
}

.introductionDescription{
    font-weight: 500;
    text-align: center;
    line-height: 130%;
}

