/* created by Jisu */

.entirePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.contentSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2%;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
}
.contentCards {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  overflow: auto;
  scroll-snap-type: x proximity;
  scroll-snap-align: center;
  padding-left: 15%;
}

.menuBtn {
  display: flex;
  justify-content: center;
}

.instruction {
  font-size: 12px;
  color: #6d6868;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
}

.usefulInfo {
  font-size: 13px;
  text-align: center;
  line-height: 130%;
}
