/* created by Jisu */

.contentCardBody{
    display: flex;
    justify-content: center;
}
.contentCard{
    background-color: white;
    width : 246px;
    height : 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 8px 15px rgb(153, 150, 150);
    margin : 0px 15px;
    overflow-x: scroll;
}
.title{
    width: 140px;
    font-size: 18px;
    color :#1B3EAA;
    font-weight:900;
}