/* created by Jisu */

.MenuScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MenuButtonGuide {
    font-size: 12px;
    color : #6D6868;
    text-align: center;
    margin-top : 13%;
    margin-bottom : 5%;
}
.MenuButtons {
    display : flex;
    flex-direction: column;
}

.MenuButtonBox {
    width : 288px;
    height : 130px;
    margin-bottom : 13%;
    display: flex;
    justify-content: center;
}

.introduction {
    width: 70%;
}
.theGlobalLogo{
    margin-top : 50px;
    width : 100%;
    height : 10%;
    margin-bottom : 35px;

}
.introductionTitle{
    font-size: 27px;
    font-weight: 800;
    color : #052B48;
    text-align: center;
    margin-bottom: 25px;
    line-height: 130%;
}

.introductionDescription{
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
    line-height: 130%;
}

