/* created by Jisu */

.contentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top : 38%;
    width : 100%;
}
.contentCards {
    display:flex;
    align-items: center;
    width: 80%;
    height : 400px;
    overflow: auto;
    scroll-snap-type: x proximity;
    margin : 0 15vw;
    scroll-snap-align: center;
}

.menuBtn { 
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom : 3%;

} 

.instruction {
    font-size: 12px;
    color : #6D6868;
    text-align: center;
    margin-bottom: 3%;;
}

.usefulInfo{
    font-size: 13px;
    text-align: center;
    line-height: 130%;
}

