ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.top {
    border-bottom: solid 5px #1B3EAA;
    margin: 0px 15px 0px 15px;
}

.title {
    margin: 20px;
    font-size: 20px;
    display: inline-block;
    color: #1B3EAA;
    font-weight: bold;
}

.count {
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
}

.result {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 15px;
    padding: 5px 15px 15px 15px;
    background-color: white;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    border: solid 1px grey;
    border-top: hidden;
}

.infoList {
    margin: 5px 0px 2px 0px;
    display: flex;
    flex-wrap: wrap;
}

.info {
    margin: 5px 5px 5px 0px;
    padding: 5px 7px;
    border: solid 1px #1B3EAA;
    border-radius: 5px;
    background-color: #1B3EAA;
    font-size: 10px;
    color: white;
}

.name {
    font-size: 17px;
    margin-bottom: 10px;
}


.second {
    display: flex;
    margin-bottom: 10px;
}

.code {
    font-size: 13px;
    margin-right: 10px;
}

.credit {
    padding: 2px 7px;
    border-radius: 8px;
    border: solid 1px #1B3EAA;
    font-size: 10px;
    color: #1B3EAA;
}



.third {
    display: flex;
    font-size: 17px;
}

.star {
    color: rgb(237, 148, 33);
    margin-right: 2px;
}

.satisfaction {
    margin-left: 10px;
}


.tagList {
    margin: 5px 0px 2px 0px;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 5px 5px 5px 0px;
    padding: 2px 7px;
    border-radius: 8px;
    border: solid 1px #1B3EAA;
    font-size: 10px;
    color: #1B3EAA;
}

.content {
    font-size: 12px;
    line-height: 150%;
}

.content:hover {
    cursor: pointer;
}

.infoName {
    font-size: large;
    font-weight: 600;
    color: #1B3EAA;
    padding: 20px;
}

.showContent {
    padding: 0px 10px 20px 10px;
    font-size: 13px;
    line-height: 170%;
    border-bottom: solid 1px rgb(204, 204, 204);

}

.hideContent {
    font-size: 0px;
    border-bottom: solid 1px rgb(204, 204, 204);
}

.subinfo {
    color: #1B3EAA;
    font-weight: 600;
    border: 1px solid #1B3EAA;
    padding: 0px 5px;
    margin-right: 5px;
}

.backbtn {
    margin-left: 5px;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.noResult {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color:#1B3EAA;
}