/* created by Jisu */

.subContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.subTitle {
    background-color: #1B3EAA;
    opacity: 70%;
    font-size: 15px;
    color : white;
    font-weight: 600;
    width: 200px;
    height : 35px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 0;
    margin : 0;
    white-space: pre-line;
}

.detail {
    width : 215px;
    font-size: 13px; 
    font-weight: 500;
    overflow-y: scroll;
    margin-bottom : 30px;
    line-height: 135%;
    margin-top:10px;
    height : 60%;
    white-space: pre-line;
}